In [1]:
import numpy as np
import pandas as pd
import seaborn as sns; sns.set()
import random

In [2]:
icici = pd.read_csv("ICICI.csv")["Close Price"].reset_index()

In [3]:
icici.head(10)

   index  Close Price
0      0       546.70
1      1       537.05
2      2       531.65
3      3       527.55
4      4       534.80
5      5       528.45
6      6       528.95
7      7       520.20
8      8       513.65
9      9       503.60

In [4]:
equity = pd.read_csv("Equity.csv")
equity.head(10)

,Security Code,Issuer Name,Security Id,Security Name,Status,Group,Face Value,ISIN No,Industry,Instrument
0,500002,NaN,ABB,ABB India Limited,Active,A,2.0,INE117A01022,Heavy Electrical Equipment,Equity
1,500003,NaN,AEGISLOG,AEGIS LOGISTICS LTD.,Active,A,1.0,INE208C01025,Oil Marketing & Distribution,Equity
2,500008,NaN,AMARAJABAT,AMARA RAJA BATTERIES LTD.,Active,A,1.0,INE885A01032,Auto Parts & Equipment,Equity
3,500009,NaN,AMBALALSA,AMBALAL SARABHAI ENTERPRISES LTD.,Active,X,10.0,INE432A01017,Pharmaceuticals,Equity
4,500010,NaN,HDFC,HOUSING DEVELOPMENT FINANCE CORP.LTD.,Active,A,2.0,INE001A01036,Housing Finance,Equity
5,500012,NaN,ANDHRAPET,ANDHRA PETROCHEMICALS LTD.,Active,X,10.0,INE714B01016,Commodity Chemicals,Equity
6,500013,NaN,ANSALAPI,ANSAL PROPERTIES & INFRASTRUCTURE LTD.,Active,T,5.0,INE436A01026,Realty,Equity
7,500014,NaN,UTIQUE,Utique Enterprises Ltd,Active,X,10.0,INE096A01010,Finance (including NBFCs),Equity
8,500016,NaN,ARUNAHTEL,ARUNA HOTELS LTD.,Active,XT,10.0,INE957C01019,Hotels,Equity
9,500020,NaN,BOMDYEING,BOMBAY DYEING & MFG.CO.LTD.,Active,A,2.0,INE032A01023,Textiles,Equity

In [5]:
sample_data  = equity.sample(10)
sample_data

,Security Code,Issuer Name,Security Id,Security Name,Status,Group,Face Value,ISIN No,Industry,Instrument
527,506194,NaN,ASL,Arihant Superstructures Limited,Active,B,10.0,INE643K01018,Realty,Equity
2198,531640,NaN,SICL,Suvidha Infraestate Corporation Limited,Active,P,10.0,INE936N01010,Realty,Equity
2582,532713,NaN,SAKUMA,SAKUMA EXPORTS LTD.,Active,B,1.0,INE190H01024,Comm.Trading & Distribution,Equity
2106,531360,NaN,GOLECHA,GOLECHHA GLOBAL FINANCE LTD.,Active,X,10.0,INE427D01011,Diversified Commercial Services,Equity
1300,521080,NaN,PASARI,PASARI SPINNING MILLS LTD.,Active,XT,10.0,INE604F01010,Textiles,Equity
1208,519003,NaN,MODINATUR,Modi Naturals Limited,Active,X,10.0,INE537F01012,Other Agricultural Products,Equity
2557,532674,NaN,BASML,BANNARI AMMAN SPINNING MILLS LTD.,Active,T,10.0,INE186H01014,Textiles,Equity
120,500234,NaN,KAKATCEM,KAKATIYA CEMENT SUGAR & INDUSTRIES LTD.,Active,B,10.0,INE437B01014,Cement & Cement Products,Equity
2149,531500,NaN,RAJESHEXPO,RAJESH EXPORTS LTD.,Active,A,1.0,INE343B01030,Other Apparels & Accessories,Equity
1297,521064,NaN,TRIDENT,TRIDENT LTD.,Active,A,1.0,INE064C01022,Textiles,Equity

In [6]:
Security_code = list(sample_data["Security Code"])
Security_Id = list(sample_data["Security Id"])
Security_Name = list(sample_data["Security Name"])
print(Security_code)

[506194, 531640, 532713, 531360, 521080, 519003, 532674, 500234, 531500, 521064]

In [7]:
import time, csv
from selenium import webdriver
from selenium.webdriver.support.ui import Select
import datetime
import random
from selenium.webdriver.common.keys import Keys

chromeOptions = webdriver.ChromeOptions()
preferences = {"download.default_directory" : "C:\\Users\\personal\\Desktop\\MSIT\\IT\\DataScience_2019501026\\Data Analytics and Data Visualisation\\Assignments\\Analysis\\Asst3_Data"}
chromeOptions.add_experimental_option("prefs", preferences)
chromedriver = "C:\\Users\\personal\Downloads\\chromedriver.exe"
driver = webdriver.Chrome(executable_path=chromedriver, options=chromeOptions)
driver.maximize_window()

driver.get("https://www.bseindia.com/markets/equity/EQReports/StockPrcHistori.aspx?flag=0")

#date
driver.find_element_by_id("ContentPlaceHolder1_txtToDate").click()
time.sleep(3)
x = datetime.datetime.now()
date = str(int(x.strftime("%d")))
year = x.strftime("%Y")
driver.find_element_by_link_text(date).click()
time.sleep(2)
driver.find_element_by_id("ContentPlaceHolder1_txtFromDate").click()
select = Select(driver.find_element_by_class_name("ui-datepicker-year"))
pyear = str(int(year)-5)
select.select_by_visible_text(pyear)
driver.find_element_by_link_text(date).click()
time.sleep(2)

for i in Security_code:
    random_code = i
    print(random_code)
    #company id
    search = driver.find_element_by_id('ContentPlaceHolder1_smartSearch')
    search.clear()
    search.send_keys(random_code)
    driver.find_element_by_class_name("quotemenu").click()
    #download
    driver.find_element_by_id("ContentPlaceHolder1_btnSubmit").click()
    time.sleep(3)
    driver.find_element_by_id("ContentPlaceHolder1_btnDownload").click()
    time.sleep(10)

driver.close()

506194
531640
532713
531360
521080
519003
532674
500234
531500
521064

In [8]:
data = pd.DataFrame()
new_data = pd.DataFrame()
for i in range(9):
    link = "C:\\Users\\personal\\Desktop\\MSIT\\IT\\DataScience_2019501026\\Data Analytics and Data Visualisation\\Assignments\\Analysis\\Asst3_Data\\"+str(Security_code[i])+".csv"
    x = pd.read_csv(link)["Close Price"].reset_index()
    data = pd.merge(x, icici, on='index').iloc[:,[1,2]]
    row = {'Name': Security_Name[i], 'Corr':data.corr()['Close Price_x'][1]}
    new_data = new_data.append(row, ignore_index=True)

In [9]:
new_data

       Corr                                     Name
0 -0.558537          Arihant Superstructures Limited
1 -0.876970  Suvidha Infraestate Corporation Limited
2 -0.495965                      SAKUMA EXPORTS LTD.
3 -0.445936             GOLECHHA GLOBAL FINANCE LTD.
4  0.727489               PASARI SPINNING MILLS LTD.
5 -0.722180                    Modi Naturals Limited
6 -0.630230        BANNARI AMMAN SPINNING MILLS LTD.
7 -0.547850  KAKATIYA CEMENT SUGAR & INDUSTRIES LTD.
8  0.121395                      RAJESH EXPORTS LTD.

In [10]:
new_data.sort_values("Corr", axis = 0, ascending = False, inplace = True, na_position ='last')
str(new_data['Name'][0])+ " has the highest correlation with ICICI Bank with a correlation of " +str(new_data['Corr'][0])

'Arihant Superstructures Limited has the highest correlation with ICICI Bank with a correlation of -0.5585365880087372'