In [22]:
import numpy as np
import pandas as pd
import seaborn as sns; sns.set()
import random

In [23]:
icici = pd.read_csv("ICICI.csv")["Close Price"].reset_index()

In [24]:
icici.head(10)

   index  Close Price
0      0       546.70
1      1       537.05
2      2       531.65
3      3       527.55
4      4       534.80
5      5       528.45
6      6       528.95
7      7       520.20
8      8       513.65
9      9       503.60

In [25]:
equity = pd.read_csv("Equity.csv")
equity.head(10)

,Security Code,Issuer Name,Security Id,Security Name,Status,Group,Face Value,ISIN No,Industry,Instrument
0,500002,NaN,ABB,ABB India Limited,Active,A,2.0,INE117A01022,Heavy Electrical Equipment,Equity
1,500003,NaN,AEGISLOG,AEGIS LOGISTICS LTD.,Active,A,1.0,INE208C01025,Oil Marketing & Distribution,Equity
2,500008,NaN,AMARAJABAT,AMARA RAJA BATTERIES LTD.,Active,A,1.0,INE885A01032,Auto Parts & Equipment,Equity
3,500009,NaN,AMBALALSA,AMBALAL SARABHAI ENTERPRISES LTD.,Active,X,10.0,INE432A01017,Pharmaceuticals,Equity
4,500010,NaN,HDFC,HOUSING DEVELOPMENT FINANCE CORP.LTD.,Active,A,2.0,INE001A01036,Housing Finance,Equity
5,500012,NaN,ANDHRAPET,ANDHRA PETROCHEMICALS LTD.,Active,X,10.0,INE714B01016,Commodity Chemicals,Equity
6,500013,NaN,ANSALAPI,ANSAL PROPERTIES & INFRASTRUCTURE LTD.,Active,T,5.0,INE436A01026,Realty,Equity
7,500014,NaN,UTIQUE,Utique Enterprises Ltd,Active,X,10.0,INE096A01010,Finance (including NBFCs),Equity
8,500016,NaN,ARUNAHTEL,ARUNA HOTELS LTD.,Active,XT,10.0,INE957C01019,Hotels,Equity
9,500020,NaN,BOMDYEING,BOMBAY DYEING & MFG.CO.LTD.,Active,A,2.0,INE032A01023,Textiles,Equity

In [26]:
sample_data  = equity.sample(10)
sample_data

,Security Code,Issuer Name,Security Id,Security Name,Status,Group,Face Value,ISIN No,Industry,Instrument
1883,530525,NaN,SHEETAL,SHEETAL DIAMONDS LTD.,Active,XT,10.0,INE786J01017,Other Apparels & Accessories,Equity
2258,531867,NaN,UNITINT,UNITECH INTERNATIONAL LTD.,Active,X,10.0,INE929K01011,Comm.Trading & Distribution,Equity
3227,539132,NaN,VEGETABLE,Vegetable Products Ltd,Active,X,1.0,INE761D01021,Edible Oils,Equity
1398,523160,NaN,MORGANITE,MORGANITE CRUCIBLE (INDIA) LTD.,Active,X,5.0,INE599F01020,Other Industrial Goods,Equity
729,509874,NaN,SHALPAINTS,SHALIMAR PAINTS LTD.-$,Active,B,2.0,INE849C01026,Furniture-Furnishing-Paints,Equity
1909,530665,NaN,ZENITHHE,ZENITH HEALTH CARE LTD.,Active,XT,1.0,INE812B01026,Pharmaceuticals,Equity
2219,531717,NaN,VIDHIING,Vidhi Specialty Food Ingredients Ltd-$,Active,B,1.0,INE632C01026,Specialty Chemicals,Equity
1657,526433,NaN,ASMTEC,ASM TECHNOLOGIES LTD.,Active,X,10.0,INE867C01010,IT Consulting & Software,Equity
1260,519566,NaN,SIMRAN,SIMRAN FARMS LTD.,Active,XT,10.0,INE354D01017,Packaged Foods,Equity
673,508980,NaN,FRONTCAP,Frontier Capital Ltd,Active,XT,10.0,INE977E01013,Diversified Commercial Services,Equity

In [27]:
Security_code = list(sample_data["Security Code"])
Security_Id = list(sample_data["Security Id"])
Security_Name = list(sample_data["Security Name"])
print(Security_code)

[530525, 531867, 539132, 523160, 509874, 530665, 531717, 526433, 519566, 508980]

In [30]:
import time, csv
from selenium import webdriver
from selenium.webdriver.support.ui import Select
import datetime
import random
from selenium.webdriver.common.keys import Keys

chromeOptions = webdriver.ChromeOptions()
preferences = {"download.default_directory" : "C:\\Users\\personal\\Desktop\\MSIT\\IT\\DataScience_2019501026\\Data Analytics and Data Visualisation\\Assignments\\Analysis\\Asst3_Data"}
chromeOptions.add_experimental_option("prefs", preferences)
chromedriver = "C:\\Users\\personal\Downloads\\chromedriver.exe"
driver = webdriver.Chrome(executable_path=chromedriver, options=chromeOptions)
driver.maximize_window()

driver.get("https://www.bseindia.com/markets/equity/EQReports/StockPrcHistori.aspx?flag=0")

#date
driver.find_element_by_id("ContentPlaceHolder1_txtToDate").click()
time.sleep(3)
x = datetime.datetime.now()
date = str(int(x.strftime("%d")))
year = x.strftime("%Y")
driver.find_element_by_link_text(date).click()
time.sleep(2)
driver.find_element_by_id("ContentPlaceHolder1_txtFromDate").click()
select = Select(driver.find_element_by_class_name("ui-datepicker-year"))
pyear = str(int(year)-5)
select.select_by_visible_text(pyear)
driver.find_element_by_link_text(date).click()
time.sleep(2)

for i in Security_code:
    random_code = i
    print(random_code)
    #company id
    search = driver.find_element_by_id('ContentPlaceHolder1_smartSearch')
    search.clear()
    search.send_keys(random_code)
    driver.find_element_by_class_name("quotemenu").click()
    #download
    driver.find_element_by_id("ContentPlaceHolder1_btnSubmit").click()
    time.sleep(3)
    driver.find_element_by_id("ContentPlaceHolder1_btnDownload").click()
    time.sleep(10)

driver.close()

530525
531867
539132
523160
509874
530665
531717
526433
519566
508980

In [32]:
data = pd.DataFrame()
new_data = pd.DataFrame()
for i in range(9):
    link = "C:\\Users\\personal\\Desktop\\MSIT\\IT\\DataScience_2019501026\\Data Analytics and Data Visualisation\\Assignments\\Analysis\\Asst3_Data\\"+str(Security_code[i])+".csv"
    x = pd.read_csv(link)["Close Price"].reset_index()
    data = pd.merge(x, icici, on='index').iloc[:,[1,2]]
    row = {'Name': Security_Name[i], 'Corr':data.corr()['Close Price_x'][1]}
    new_data = new_data.append(row, ignore_index=True)

In [33]:
new_data

       Corr                                    Name
0 -0.398119                   SHEETAL DIAMONDS LTD.
1 -0.510745              UNITECH INTERNATIONAL LTD.
2 -0.207128                  Vegetable Products Ltd
3  0.566465         MORGANITE CRUCIBLE (INDIA) LTD.
4 -0.511371                  SHALIMAR PAINTS LTD.-$
5  0.461155                 ZENITH HEALTH CARE LTD.
6  0.318769  Vidhi Specialty Food Ingredients Ltd-$
7 -0.408257                   ASM TECHNOLOGIES LTD.
8 -0.017933                       SIMRAN FARMS LTD.

In [34]:
new_data.sort_values("Corr", axis = 0, ascending = False, inplace = True, na_position ='last')
str(new_data['Name'][0])+ " has the highest correlation with ICIC Bank with a correlation of " +str(new_data['Corr'][0])

'SHEETAL DIAMONDS LTD. has the highest correlation with ICIC Bank with a correlation of -0.3981193536310676'