In [1]:
import pandas as pd
import numpy as np
import random
import glob
import csv, os

In [2]:
def is_file_empty(file_path):
    return os.path.exists(file_path) and os.stat(file_path).st_size == 0

In [3]:
count = 0
df = pd.DataFrame()
for files in glob.glob('C:\\Users\\personal\\Desktop\\MSIT\\IT\\DataScience_2019501026\\Data Analytics and Data Visualisation\\Assignments\\Handling Big Data and Data Scraping\\Asst2_Data\\*.csv'):
    if count == 40:
        break
    f=open(files, 'r')
    name = os.path.basename(f.name).replace(".csv","")
    if is_file_empty("C:\\Users\\personal\\Desktop\\MSIT\\IT\\DataScience_2019501026\\Data Analytics and Data Visualisation\\Assignments\\Handling Big Data and Data Scraping\\Asst2_Data\\"+name+".csv"):
        continue
    data = pd.read_csv(f)
    gain = (data.at[data.shape[0]-1, "Close Price"] / data.at[0,"Close Price"]) - 1
#     gain = (close[len(close)-1]/close[0])-1
    row = {'Code': name, 'Gain': gain}
    df = df.append(row, ignore_index=True)
    count = count + 1
    f.close()
df

          Code      Gain
0       500191  1.531818
1       500259  2.825545
2   500877 (1) -0.167069
3   500877 (2) -0.167069
4       500877 -0.167069
5       504375  0.009174
6       505285 -0.146539
7       509635  3.936573
8       511533  0.182879
9       511571 -0.691000
10      511742 -0.817810
11      513605  0.823134
12      520066 -0.349335
13      522217 -0.300525
14      523160 -0.203925
15  524790 (1) -0.956770
16      524790 -0.956770
17  526137 (1)  1.340230
18      526137  1.340230
19      526981 -0.655860
20      530005 -0.431838
21      530829  0.202381
22      531069 -0.834091
23      531120  4.460845
24      531280  1.013514
25      531360  0.370992
26      531406  0.188940
27      531635  0.255743
28      532178  2.070323
29  532612 (1) -0.023462
30      532612 -0.023462
31      532812  1.190813
32      532918 -0.527629
33      533138 -0.806411
34      533257  5.104762
35      533273 -0.539090
36      533326  3.529851
37      538395 -0.433121
38      542865  0.164017
39      543240 -0.320567

In [4]:
df = df.sort_values("Gain", ascending=False)
df.head(10)

          Code      Gain
34      533257  5.104762
23      531120  4.460845
7       509635  3.936573
36      533326  3.529851
1       500259  2.825545
28      532178  2.070323
0       500191  1.531818
18      526137  1.340230
17  526137 (1)  1.340230
31      532812  1.190813